[submodule "School/Class XI/Project Code"]
	path = School/Class XI/Project Code
	url = https://github.com/PranavVerma-droid/Cryptography
[submodule "School/Class XII/Project Code"]
	path = School/Class XII/Project Code
	url = https://github.com/PranavVerma-droid/Donation-Tracker
